.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow-y: scroll;

    &--show{
        display: flex;
    }
    &__window{
        background-color: #fff;
        width: 100%;
        max-width: 700px;
        border-radius: 0.6rem;
        padding: 1.5rem;
        margin: auto;
    }
    &__header{
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        margin: 0;
    }
    &__content{
        padding-bottom: 1.5rem;
    }
    &__footer{
        text-align: center;
    }
}