/*---- Colores ---*/
.bg-primary{
    background-color: $bg-primary;
}
.bg-secondary{
    background-color: $bg-secondary;
}
.text-primary{
    color: $text-primary;
}
.text-secondary{
    color: $text-secondary;
}
.text-tertiary{
    color: $text-tertiary;
}
.text-white{
    color: $text-white;
}

/*---- Fuentes ---*/
.font-primary{
    font-family: $font-primary;
}