/*---- Breakpoints ---*/
$breakpoint-xs: 400px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;


/*---- Colores ---*/
$bg-primary: rgba(107, 99, 181, 0.6);
$bg-secondary: #6B63B5;

$text-primary: #081F32;
$text-secondary: #374A59;
$text-tertiary: #999999;
$text-white: #FFFFFF;

/*---- Fuentes ---*/
$font-primary: 'Open Sans', sans-serif;


/*---- Tamaño de fuente ---*/
$font-size-mobile: 14px;
$font-size-xs: 14px;
$font-size-sm: 15px;
$font-size-md: 16px;
$font-size-lg: 17px;
$font-size-xl: 19px;
$font-size-2xl: 20px;





